.container{
    width: 100%;
    padding: 40px 40px 40px 130px;
}
/* transactions */
.trans{
    background-color: var(--white);
    border-radius: var(--rad2);
    padding: 40px 50px;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            color: var(--main);
            flex: 1;
            text-align: start;
        }

        .filter{
            flex: 2;
            display: flex;
            justify-content: center;
            gap: 30px;

            a{
                font-weight: bold;
                background-color: var(--gray);
                padding: 2px 15px;
                border-radius: 5px;
                color: var(--main);
                cursor: pointer;
            }
            a.active{
                background-color: var(--main);
                color: var(--white);
            }
        }

        .box{
            flex: 1;
            display: flex;
            justify-content: end
        }
    }

    .add-trans{
        width: 50px;
        height: 50px;
        display: grid;
        place-content: center;
        font-size: 28px;        
        color: var(--white);
        background-color: var(--main);
        border: 2px solid var(--main);
        border-radius: 50%;
        cursor: pointer;
    }

    .actions{
        margin-top: 50px;
        font-weight: bold;
        
        .t{
            margin-top: 35px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--main);
            display: flex;
            justify-content: space-between;

            *{
                flex: 1;
            }

            .opt{
                flex: .2;
                margin-left: auto;

                .open-menu{
                    width: 30px;
                    height: 30px;
                    display: grid;
                    place-content: center;
                    font-size: 20px;        
                    color: var(--main);
                    border: 1px solid var(--main);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        } /* t*/
    } /* actions*/

    .add-form,
    .edit-form {
        position: fixed;
        top: 50%;
        left: 150%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        z-index: 99;
        width: 60vw;
        padding: 20px 40px 50px;
        border-radius: var(--rad2);
        transition: 0.3s;
        box-shadow: var(--shadow);
    
        .top {
            display: flex;
            justify-content: space-between;
    
            .close-form {
                color: var(--main);
                font-size: 36px;
                cursor: pointer;
            }
        }
    
        .input-box {
            margin-top: 10px;
        }
    
        button {
            margin-top: 40px;
            font-size: 18px;
            height: 50px;
            width: 250px;
            padding: 0;
        }
    } /* Shared styles for add and edit forms */
    
    .add-form.show,
    .edit-form.show {
        left: 50%;
    }
        .dropdown {
        display: none;
        position: absolute;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--rad2);
        z-index: 99;
      }
      
      .dropdown.show {
        display: block;
      }
      
      .dropdown a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: var(--main);
        cursor: pointer;
      }
      
      .dropdown a:hover {
        background-color: var(--gray);
      }
      
      .dropdown-menu {
        position: absolute;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--rad3);
        top: 30px;
        right: 0;
        min-width: 120px;
        padding: 10px 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease;
      }
      
      .dropdown-item {
        padding: 10px 15px;
        font-size: 16px;
        color: var(--main);
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease;
      }
      
      .dropdown-item:hover {
        background-color: var(--gray);
        color: var(--dark);
      }
      
      .open-menu {
        position: relative;
      }
      
      .opt {
        position: relative;
      }
      
}



/* profile */
.profile{
    display: flex;
    gap: 30px;

}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--main);

    .income, .expense{
        padding: 15px 30px;
        height: 200px;
        border-radius: var(--rad2);
        background-color: aliceblue;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    
    h2{
        font-size: 27px;
    }
    h2:last-child{
        margin-top: 60px;
        text-align: end;
    }
}

.day,.month{
    display: flex;
    gap: 30px;

    *{
        flex: 1;
    }
}

.day .income{
    background-image: linear-gradient(45deg, #56777A, #9EDAE0);
}
.day .expense{
    background: linear-gradient(45deg, #CDA1D3, #6A536D);
}
.month .income{
    background: linear-gradient(45deg, #4c7c4c, #B3FFAB);
}
.month .expense{
    background: linear-gradient(45deg, #ad5d5d, #ffc0c0);}


.right{
    flex: 1;

    h1{
        color: var(--main);
        margin-bottom: 10px;
    }
    .card{
        background-color: var(--white);
        border-radius: var(--rad2);
        text-align: center;
        overflow: hidden;

        .pfp{
            height: fit-content;
            position: relative;
            background: linear-gradient(45deg, var(--main), #7db0ce);
            height: 250px;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            display: flex;
            
            svg{
                width: 150px;
                color: var(--white);
            }
        }
    }
}

.info{
    padding: 0 70px 50px;
}
.info p{
    display: flex;
    font-size: 22px;
    font-weight: bold;

    span{
        text-align: left;
    }
    span:nth-child(1){
        flex: 1;
    }
    span:nth-child(2){
        flex: 1;
    }
    span:nth-child(3){
        flex: 2.8;
    }
}



/* sittings  */
.sittings{
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--main);

    .menu{
        flex: 1;
    }
    .content{
        flex: 2;
    }

    .options{
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-flow: column;
        width: fit-content;
        gap: 20px;
        transition: var(--trans);

        a{
            display: flex;
            align-items: center;
            gap: 30px;
            cursor: pointer;
            position: relative;
            padding: 5px 15px;
            transition: var(--trans);

            *{
                transition: var(--trans);
            }

            span{
                width: 130px;
            }

        }
        a:hover{
            background-color: var(--white);
            border-radius: var(--rad3);

            svg:last-child{
                transform: translateX(10px);
            }
        }
        a:after{
            position: absolute;
            bottom: -10px;
            content: '';
            width: 0%;
            height: 2px;
            background-color: var(--main);
            transition: .2s;
        }
        a.active:after{
           width: 90%;
        }

    }
    .logout{
        color: rgba(214, 62, 62, 0.911);
    }
}

.edit-profile{
    
    .inputs{
        padding: 30px 140px;
        padding-left: 0;
        display: flex;
        flex-flow: column;
        gap: 20px;

    }
    input{
        background-color: var(--white);
    }
    button{
        width: 240px;
    }
    button:hover{
        background-color: var(--gray) !important;
    }
}