.container{
    width: 100%;
    padding: 40px 40px 40px 130px;
}
/* transactions */

.filter{
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 30px;

    a{
        font-weight: bold;
        background-color: var(--gray);
        padding: 2px 20px;
        border-radius: 5px;
        color: var(--main);
        cursor: pointer;
    }
    a.active{
        background-color: var(--main);
        color: var(--white);
    }
}


.trans{
    background-color: var(--white);
    border-radius: var(--rad2);
    padding: 40px 50px;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            color: var(--main);
            flex: 1;
            text-align: start;
        }


        .box{
            flex: 1;
            display: flex;
            justify-content: end
        }
    }

    .add-trans{
        width: 50px;
        height: 50px;
        display: grid;
        place-content: center;
        font-size: 28px;        
        color: var(--white);
        background-color: var(--main);
        border: 2px solid var(--main);
        border-radius: 50%;
        cursor: pointer;
    }

    .actions{
        margin-top: 50px;
        font-weight: bold;
        
        .t{
            margin-top: 35px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--main);
            display: flex;
            justify-content: space-between;

            *{
                flex: 1;
            }

            .opt{
                flex: .2;
                margin-left: auto;

                .open-menu{
                    width: 30px;
                    height: 30px;
                    display: grid;
                    place-content: center;
                    font-size: 20px;        
                    color: var(--main);
                    border: 1px solid var(--main);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        } /* t*/
    } /* actions*/

    .add-form,
    .edit-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        z-index: 99;
        width: 60vw;
        padding: 20px 40px 50px;
        border-radius: var(--rad2);
        transition: 0.3s;
        box-shadow: var(--shadow);
        display: none;
    
        .top {
            display: flex;
            justify-content: space-between;
    
            .close-form {
                color: var(--main);
                font-size: 36px;
                cursor: pointer;
            }
        }
    
        .input-box {
            margin-top: 10px;
        }
    
        button {
            margin-top: 40px;
            font-size: 18px;
            height: 50px;
            width: 250px;
            padding: 0;
        }
    } /* Shared styles for add and edit forms */
    
    .add-form.show,
    .edit-form.show {
        display: block;
    }
        .dropdown {
        display: none;
        position: absolute;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--rad2);
        z-index: 99;
      }
      
      .dropdown.show {
        display: block;
      }
      
      .dropdown a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: var(--main);
        cursor: pointer;
      }
      
      .dropdown a:hover {
        background-color: var(--gray);
      }
      
      .dropdown-menu {
        position: absolute;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--rad3);
        top: 30px;
        right: 0;
        min-width: 120px;
        padding: 10px 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease;
      }
      
      .dropdown-item {
        padding: 10px 15px;
        font-size: 16px;
        color: var(--main);
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease;
      }
      
      .dropdown-item:hover {
        background-color: var(--gray);
        color: var(--dark);
      }
      
      .open-menu {
        position: relative;
      }
      
      .opt {
        position: relative;
      }
      
}



/* profile */
.profile{
    display: flex;
    gap: 30px;

}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--main);

    .income, .expense{
        padding: 15px 30px;
        height: 200px;
        border-radius: var(--rad2);
        background-color: aliceblue;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    
    h2{
        font-size: 27px;
    }
    h2:last-child{
        margin-top: 60px;
        text-align: end;
    }
}

.day,.month{
    display: flex;
    gap: 30px;

    *{
        flex: 1;
    }
}

.day .income{
    background-image: linear-gradient(45deg, #56777A, #9EDAE0);
}
.day .expense{
    background: linear-gradient(45deg, #CDA1D3, #6A536D);
}
.month .income{
    background: linear-gradient(45deg, #4c7c4c, #B3FFAB);
}
.month .expense{
    background: linear-gradient(45deg, #ad5d5d, #ffc0c0);}


.right{
    flex: 1;

    h1{
        color: var(--main);
        margin-bottom: 10px;
    }
    .card{
        background-color: var(--white);
        border-radius: var(--rad2);
        text-align: center;
        overflow: hidden;

        .pfp{
            height: fit-content;
            position: relative;
            background: linear-gradient(45deg, var(--main), #7db0ce);
            height: 250px;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            display: flex;
            
            svg{
                width: 150px;
                color: var(--white);
            }
        }
    }
}

.info{
    padding: 0 70px 50px;
}
.info p{
    display: flex;
    font-size: 22px;
    font-weight: bold;

    span{
        text-align: left;
    }
    span:nth-child(1){
        flex: 1;
    }
    span:nth-child(2){
        flex: 1;
    }
    span:nth-child(3){
        flex: 2.8;
    }
}



/* settings  */
.settings{
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--main);


    .menu{
        flex: 1;
    }
    .content{
        flex: 2;
        padding-right: 150px;
        
        h1{
            margin-bottom: 20px;
        }

        label{
            font-weight: bold;
        }

        input{
            background-color: var(--white);
            margin-bottom: 20px;
        }

        button{
            width: 240px;
        }
        button:hover{
            background-color: var(--gray) !important;
        }    
    }

    .options{
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-flow: column;
        width: fit-content;
        gap: 20px;
        transition: var(--trans);

        a{
            display: flex;
            align-items: center;
            gap: 30px;
            cursor: pointer;
            position: relative;
            padding: 5px 15px;
            transition: var(--trans);

            *{
                transition: var(--trans);
            }

            span{
                width: 130px;
            }

        }
        a.active{
            background-color: var(--white);
            border-radius: var(--rad3);

            svg:last-child{
                transform: translateX(10px);
            }
        }
        a:after{
            position: absolute;
            bottom: -10px;
            content: '';
            width: 0%;
            height: 2px;
            background-color: var(--main);
            transition: .2s;
        }
        a:hover:after{
           width: 90%;
        }

    }
    .logout{
        color: rgba(214, 62, 62, 0.911);
    }
    
}

/* Styling for the error message */
.error-message {
    position: absolute;
    bottom: -100px;
    width: 100%;
    color: #ff4d4d; /* Red color for error */
    background-color: #ffe6e6; /* Light red background */
    border: 1px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.edit-profile{
    
    .inputs{
        display: flex;
        flex-flow: column;
    }
}

.home{
    display: flex;
    gap: 20px;
    max-height: 90vh;
    overflow: hidden;
}
.charts{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .donts{
        display: flex;
        flex-wrap: wrap;
    }
    .box{
        min-width: 30%;
        flex: 1;
        display: flex;
        align-items: center;
        border-radius: var(--rad2);
        padding: 20px;
        /* padding-left: 40px; */
        background-color: var(--white);

        h3{
            font-size: 22px;
            color: var(--main);
        }

    }
    .dnt{
        flex: 1;
        padding: 15px;
        height: 200px;
        flex: 1;
        width: fit-content;
    }

    .bars{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--white);
        border-radius: var(--rad2);
    }
    
}

.states{
    width: 200px;
    display: flex;
    flex-flow: column;
    padding: 20px 0;
    align-items: center;
    gap: 30px;
    background-color: var(--white);
    border-radius: var(--rad2);
    color: var(--main);

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }

    .num{
        display: flex;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--white);
        font-weight: bold;
    }
    .tran .num{
        background: linear-gradient(45deg, #897F13C9, #FCE919);
    }
    .exp .num{
        background: linear-gradient(45deg, #601212FC, #C62626);
    }
    .inc .num{
        background: linear-gradient(45deg, #4F2652, #B156B8);
    }
}


.sources{
    .title{
        color: var(--main);

        h1{
            width: fit-content;
            border-bottom: 2px solid var(--main);
            margin-bottom: 10px;
        }

    }
    .swich{
        background-color: var(--white);
        display: flex;
        gap: 5px;
        padding: 7px;
        width: fit-content;
        margin: 25px auto;
        border-radius: var(--rad2);
        
        a{
            border-radius: var(--rad3);
            padding: 5px 30px;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
        }
        a.active{
            background-color: var(--main);
            color: var(--white);
        }
    }

    .bk{
        h3{
            margin-top: 30px;
        }
        p{
            margin-bottom: 10px;
            font-size: 14px;
        }
        a{
            padding: 0 20px;
            font-size: 16px;
        }
        a:hover{
            background-color: var(--gray) !important;
        }
    }

    .channels{
        padding: 0 150px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);

        .card{
            height: 180px;
            display: flex;
            gap: 10px;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            color: var(--main);
            border: 4px solid var(--gray);
            border-radius: var(--rad3);
            background-color: var(--white);
            transition: var(--trans);
            box-shadow: var(--shadow);
            padding: 20px;

            h3{
                font-size: 16px;
            }
            img{
                height: 80px;
                width: 80px;
                /* border: 2px solid var(--main); */
                border-radius: 50%;
            }
        }

        .card:hover{
            border-color: var(--main);
        }
    }
}


.notifications{
    background-color: var(--white);
    border-radius: var(--rad2);
    padding: 40px;

    .filter span{
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        background-color: red;
        color: var(--white);
        border-radius: 50%;

    }

    .list{
        margin-top: 40px;
        display: flex;
        flex-flow: column;
        gap: 40px;

        .item{
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 18px;
            padding: 10px 0;
            padding-right: 80px;
            border-bottom: 2px solid var(--main);
            position: relative;

            p{
                flex: 1;
            }

            .delete-btn{
                margin: 0 20px;
                font-size: 24px;
                color: var(--main);
                background-color: none;
                cursor: pointer;
            }

            .meta{
                color: var(--main);
                span{
                    margin: 0 10px;
                }
            }
        }
        .item.new::after{
            position: absolute;
            right: 50px;
            background-color: red;
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        overflow: hidden;
        padding: 20px;
        margin-bottom: 70px;
    }    

    .home{
        max-height: fit-content;
        flex-flow: column;
    }

    .charts{
    }
    .donts{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box{
        padding: 10px;

        h3{
            width: 80px;
            padding-left: 20px;
            font-size: 18px !important;
            color: var(--main);
        }

    }

    .bars{
        flex-flow: column;
        padding: 30px;
        gap: 30px;

        canvas:first-child{
            width: 280px !important;
            height: 300px !important;
        }
        canvas:last-child{
            margin: auto;
            width: 280px !important;
            height: auto !important;
        }
    }

    .states{
        width: 100%;

        div{
            flex-direction: row;
            gap: 20px;

            h4{
                width: 150px;
                font-size: 24px !important;
            }
        }
    }

    /* profile */
    .profile{
        gap: 20px;
        flex-flow: column;

        .day,.month{
            gap: 15px;
        }
        .income, .expense{
            padding: 10px 20px;
            height: 150px;
            border-radius: var(--rad2);
            background-color: aliceblue;
            margin-bottom: 25px;
            margin-top: 10px;

            h2{
                font-size: 20px;
            }

            h2:last-child{
                margin-top: 40px;
                text-align: end;
            }
        
        }

        .info{
            padding: 0 30px 30px;

            P{
                font-size: 16px;
            }
        }
    
    }

    /* trans */
    .trans{
        padding: 20px 30px 70px;

        .top{
            flex-wrap: wrap;
            gap: 20px;

            .add-trans{
                width: 30px;
                height: 30px;
                font-size: 20px;
            }
        }
        .actions{
            p{
                text-align: center;
                white-space: nowrap;
                font-size: 11px;    
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .opt{

            .open-menu{
                width: 20px !important;
                height: 20px !important;
                font-size: 14px !important;
            }
        }
    }

    .filter{
        gap: 10px;
        order: 3;

        a{
            padding: 2px 10px;

            font-size: 12px;
        }
    }

    .add-form,
    .edit-form {
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh;

        .top{
            margin-top: 20px;
            h1{
                font-size: 28px;
            }
        }

        .input-box.half{
            flex-direction: column;
            gap: 0px;     
            
        }

    }

    /* sources */
    .sources{
        h1{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }

        .swich{
            a{
                padding: 5px 15px;
            }
        }
    }

    .channels{
        padding: 0 !important;
        gap: 10px !important;
        grid-template-columns: repeat(2, 1fr) !important;
        
        .card{
            height: fit-content !important;
            padding: 15px !important;
            h3{
                font-size: 13px !important;
            }
        }
    }


    .notifications{
        padding: 20px;
        h1{
            font-size: 30px;
        }

        .item{
            font-size: 12px !important;
            padding-right: 20px !important;
            gap: 10px !important;

            p{
                text-align: center;
                white-space: nowrap;
                font-size: 11px;    
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .meta{
                font-size: 8px;
                color: var(--main);
                span{
                    margin: 0 0px !important;
                }
            }

        }
        .delete-btn{
            font-size: 20px !important;
            margin: 0 !important;
        }
        .item.new::after{
            right: 10px !important;
            height: 6px !important;
            width: 6px !important;
        }

    }

    /* settings */
    .settings{
        flex-flow: column;
        gap: 40px;
        h1{
            font-size: 24px;
        }
        .menu{
        }
        .content{
            padding: 0;
        }
    }

}
