@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root{
  --main: #032A61;
  --gray: #D9D9D9;
  --white: #FAFAFA;

  --rad1: 30px;
  --rad2: 15px;
  --rad3: 10px;

  --trans: .2s;

  --shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

body{
  background-color: var(--gray);
  font-family: "Cairo", serif;
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.center{
  text-align: center;
}

.bold{
  font-weight: bold;
  color: var(--main);
}

.img-fluid{
  max-width: 100%;
}

.pry-btn{
  padding: 15px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--main);
  border: 2px solid transparent;
  border-radius: var(--rad3);
  font-weight: bold;
  transition: var(--trans);
  cursor: pointer;
}
.hov, .hov2{
  transition: var(--trans);
}
.pry-btn:hover, .hov:hover{
  color: var(--main) !important;
  background-color: var(--white) !important;
  border-color: var(--main) !important;
}
.hov2:hover{
  color: var(--white) !important;
  background-color: var(--main) !important;
}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 98;
  transition: .3s;
  display: none;
}
.overlay.show{
  display: block;
}